@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark theme colors

Backgrounds:
-
bg-zinc-900
bg-zinc-700

Border:
-
border-zinc-600

Text:
-
text-zinc-50
text-zinc-200
text-zinc-400

Colors:
-
indigo-500


*/

* {
  @apply border-zinc-600;
}

p {
  @apply text-zinc-400;
}
